.albumImage{
    width: 80%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.albumImage img{
    width: 100%;
    border-radius: 30%;
    aspect-ratio: 1;
}
.albumImage-shadow{
    position: absolute;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    width: 90%;
    
    z-index: -1;
    top: 20px;
}