.albumInfo-card{
    margin-top:15px;
}
.albumInfo-card p{
    margin:4px !important;
}

.albumName-container{
    font-size: 22px;
    font-weight: 800;
    color: #C3D0E3;
    width: 100%;
    overflow: hidden;
}


.album-info{
    font-size: 15px;
    font-weight: 600;
    color: #C3D0E3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.album-release{
    font-size: 8px;
    font-weight: 500;
    color: #C3D0E3;
    margin-top: 15px;
}
.marque{
    white-space: nowrap;
    display: inline-block;
    animation: marque 12s linear infinite;
}
@keyframes marque {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
    
}