.library-body{
    width: 94%;
    height: 90%;
    padding: 3%;
    display: flex;  
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-between;
}

.playlist-card{
    width: 15%;
    height: 40%;
    border-radius: 20px;
    background-color: rgb(30,42,60);
    border: 1px solid rgba(54,69,98,0.18);
    padding: 1%;
    margin-bottom: 2%;
    background: rgb(30,42,60);
    background: linear-gradient(75deg, rgb(40, 58, 88) 0%, rgba(54,69,98,0) 100%);
    transition: all 0.2s ease;
}

.playlist-card:hover{
    transform: scale(1.02);
}
.playlist-image{
    width: 100%;
    border-radius: 15px;
}

.playlist-title{
    font-weight: 800;
    font-size: 16px;
    color: #c4d0e3;
    margin: 10px 0px 5px;
}
.playlist-subtitle{
    font-weight: 400;
    font-size: 12px;
    margin: 0px;
    color: #c4d0e37c;
}